
version: "3.8"

services:
  parser:
    build:
      context: .
      dockerfile: dockerfile
    image: sehyunsix/crawl-server:latest
    container_name: parser-app
    depends_on:
      - rabbitmq
      - redis
    env_file:
      - .deploy.env
    volumes:
      - .:/app
    working_dir: /app/crawl-ts
    command: ["npx", "ts-node", "src/scripts/runGeminiParserConsumer.ts"]
    networks:
      - crawl-network
  crawl:
    image: sehyunsix/crawl-server:latest
    container_name: crawl-app
    depends_on:
      - rabbitmq
      - redis
    env_file:
      - .deploy.env
    volumes:
      - .:/app
    working_dir: /app/crawl-ts
    command: ["npx", "ts-node", "src/scripts/runConcurrentCrawler.ts"]
    networks:
      - crawl-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    env_file:
      - .deploy.env
    networks:
      - crawl-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"       # AMQP
      - "15672:15672"     # Management UI
    env_file:
      - .deploy.env
    networks:
      - crawl-network

networks:
  crawl-network:
    driver: bridge